<div class="content">
  <h2 class="tx-center">Cadastrar candidato</h2>
  <form [formGroup]="addCandidateForm" (ngSubmit)="handleClickSave()">
    <table>
      <tbody>
        <tr>
          <td>Nome</td>
          <td><input type="text" name="Nome" formControlName="Nome" required placeholder="Informe seu nome" /></td>
        </tr>
        <tr>
          <td>Telefone</td>
          <td><input type="text" name="Telefone" formControlName="Telefone" required
              placeholder="Informe seu telefone" /></td>
        </tr>
        <tr>
          <td>Url Linkedin</td>
          <td><input type="text" name="UrlLinkedin" formControlName="UrlLinkedin" required
              placeholder="https://linkedin.com/..." /></td>
        </tr>
        <tr>
          <td>Usuário Github</td>
          <td><input type="text" name="UsuarioGithub" formControlName="UsuarioGithub" required
              placeholder="Informe seu usuário no github" appDebounce (delayedInput)="findUserGithub($event)" />
          </td>
        </tr>
      </tbody>
    </table>

    <app-github-info [userGithub]="userGithub"></app-github-info>

    <button type="submit" class="btn">Salvar</button>
  </form>

</div>
