<div class="content">
  <h2 class="tx-center">Cadastrar candidato</h2>
  <form action="">
    <table>
      <tbody>
        <tr>
          <td>Nome</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Telefone</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Url Linkedin</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Usuário Github</td>
          <td><input type="text" /></td>
        </tr>
      </tbody>
    </table>
  </form>
  <button class="btn">Salvar</button>
</div>
