table {
  font-family: arial, sans-serif;
  width: 100%;
  border-radius: 5px;
  background-color: #eee;
  padding: 20px;
}

td{
  text-align: right;
  padding-left: 1%;
}

.btn {
  background-color: #1976d2;
  color: white;
  padding: 14px 20px;
  margin: 16px 0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #1976d2;
}
